<figure class="image" style='width: 100%; padding-bottom: 10px;'>
  <img src="{{ include.url }}" width="100%">
  <figcaption>
    <span style='width: 100%; margin-bottom: 15px; padding-bottom: 20px;' >
       {{ include.description }}
    </span>
  </figcaption>
</figure>  

{% if include.readmore %}<a id="links" href="{{ include.readmore }}" target="_">read more</a>&nbsp;&#9679;&nbsp;{% endif %} {% if include.video %}<a id="links" href="{{ include.video }}" target="_">video</a>&nbsp;&#9679;&nbsp;{% endif %} {% if include.poster %}<a id="links" href="{{ include.poster }}" target="_">poster</a>&nbsp;&#9679;&nbsp;{% endif %} {% if include.code %}<a id="links" href="{{ include.code }}" target="_">code</a>&nbsp;&#9679;&nbsp;{% endif %}  {% if include.paperurl %}<a id="links" href="{{ include.paperurl }}" target="_">paper</a>{% endif %} 

