<div>
  <a id="links" href="/research.html">Latest</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/om.html">Object Manipulation</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/omrc.html">Sensor Coverage</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/mrmp.html">Multi-Robot Motion Planning</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/ota.html">Target Assignment</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/ipp.html">Informative Path Planning</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/is.html">Situational Awareness</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/dc.html">Distributed Consensus</a>
</div>  
